.error {
  display: flex;
  flex-direction: column;
  background-color: hsl(0deg 0% 0%);
  box-shadow: 0px 0px 20px 20px #ee90927a;
  height: 100%;
  border: 5px solid white;
  margin-top: 205px;
  align-items: center;
  margin-left: 25vw;
  width: 50%;
  overflow: hidden;
}

.retry-button {
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #521617 5%, #080000 100%);
	background-color:#ee9092;
	border-radius:11px;
	border:2px solid #ee9092;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:8px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
  margin-top: 20px;
}
.retry-button:hover {
	background:linear-gradient(to bottom, black 5%, #ee9092 100%);
	background-color:#ee9092;
}


h2 {
  color: aliceblue;
  font: icon;
  font-size: 25px;
  text-align: center;
}

.error img {
  height: 400px;
  width: 350px;
  box-sizing: border-box;
  border-radius: 20px;
}

@media screen and (max-width: 545px) {
  .error {
    margin-top: 140px;
    margin-left: 0;
    width: auto;
  }

  .retry-button {
    margin-top: 10px;
  }

  h2 {
    font-size: 20px;
  }
}