.search{
  display: flex;
  justify-content: center;
  padding-top: 205px;
}

.input-field {
    width: 20em;
    border-radius: 8px;
    background: black;
    color: white;
    border-color: black;
    box-shadow: 0px 0px 7px 5px #ee90927a;
    font-size: 20px;
    font-weight: bold;
}

@media screen and (max-width: 545px) {
  .search {
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 150px;
  }

}
